---
layout: null
---
@font-face {
  font-family: 'OpenSansLight';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Light-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("{{ site.baseurl }}/fonts/OpenSans-LightItalic-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-LightItalic-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Regular-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Italic-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Italic-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-Italic-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Semibold-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Bold-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Bold-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-Bold-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic-webfont.eot");
  src: local("☺"),
       url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic-webfont.woff") format("woff"),
       url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"),
       url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
