<nav>
    <ul>
        <li{% if page.nav == "blog" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Blog</a></li>
        <li{% if page.nav == "about" %} class="active"{% endif %}><a href="{{ site.baseurl }}/about/">About</a></li>
        <li{% if page.nav == "faq" %} class="active"{% endif %}><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
        <li{% if page.nav == "links" %} class="active"{% endif %}><a href="{{ site.baseurl }}/links/">Links</a></li>
        <li><a href="{{ site.download_url }}">Download {{ site.latest_version }}</a></li>
        <li><a href="https://nethack.dank.ninja">Play Online</a></li>
        <li><a href="{{ site.project_url }}">GitHub</a></li>
    </ul>
    {% if page.nav == "blog" %}
        <p>View the <a href="{{ site.baseurl }}/">latest posts</a>,
        browse the <a href="{{ site.baseurl }}/archive/">archive</a>,
        <a href="{{ site.baseurl }}/authors/">authors</a>
        or <a href="{{ site.baseurl }}/tags/">tags</a>,
        and subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a>.</p>
    {% endif %}
</nav>
