---
layout: default
title: Authors
---
<h2>Authors</h2>

<p>
{% if site.collections.authors.docs.size == 0 %}
    There are currently no authors.
{% else %}
    {% if site.collections.authors.docs.size == 1 %}
        There is currently only 1 author.
    {% else %}
        There are {{ site.tags | size }} authors.
    {% endif %}
{% endif %}
</p>

<ul>
    {% for author in site.collections.authors.docs %}
        <li><a href="{{ site.baseurl }}/authors/{{ author.author }}/">{{ author.author }}</a></li>
    {% endfor %}
</ul>
