---
layout: default
---
<h2>Posts by {{ page.author }}</h2>

{{ content }}

{% assign author_posts = site.posts | where: "author", page.author %}

<p>
{% if author_posts.size == 0 %}
    There are currently no posts by {{ page.author }}.
{% else %}
    {% if author_posts.size == 1 %}
        There is 1 post by {{ page.author }}.
    {% else %}
        There are {{ author_posts | size }} posts by {{ page.author }}.
    {% endif %}
{% endif %}
</p>

{% for post in author_posts %}
    <article>
        {% include posthead.html %}
    </article>
{% endfor %}
