---
layout: default
---
<h2>Posts tagged with '{{ page.tag }}'</h2>

{{ content }}

{% assign tag_posts = site.tags[page.tag] %}

<p>
{% if tag_posts.size == 0 %}
    There are currently no posts tagged '{{ page.tag }}'.
{% else %}
    {% if tag_posts.size == 1 %}
        There is 1 post tagged '{{ page.tag }}'.
    {% else %}
        There are {{ tag_posts | size }} posts tagged '{{ page.tag }}'.
    {% endif %}
{% endif %}
</p>

{% for post in tag_posts %}
    <article>
        {% include posthead.html which=post link_heading=true %}
    </article>
{% endfor %}
